**The input function**

In [ ]:
print("Enter your name: ")
name = input()
print("Your name is: ")
print(name)

**input function â€“ default data type (error)**

In [ ]:
age = input("Enter your age: ")
halfAge = age/2
print(halfAge)

**int function**

In [ ]:
age = int(input("Enter your age: "))
halfAge = age/2
print(halfAge)

**int, str, and float functions**

In [ ]:
fatherAge = input("Enter age: ")
motherAge = int(input("Enter age: "))
fatherHeight = float(input("Enter height: "))
print(type(fatherAge))
print(type(motherAge))
print(type(fatherHeight))
print(fatherAge)
print(motherAge)
print(fatherHeight)

**The print function**

In [ ]:
name = "Paola"
age = 30
print("Name: ")
print(name)
print("Age: ")
print(age)

**Concatenation of data on screen output (error)**

In [ ]:
productName = "Chromecast"
productPrice = 30
print("Name: "+productName)
print("Price: "+productPrice)

**Concatenation of data on screen output**

In [ ]:
productName = "Chromecast"
productPrice = 30
print("Name: "+productName)
print("Price: "+str(productPrice))

**Printing with commas separation**

In [ ]:
productName = "Chromecast"
productPrice = 30
print("Name:",productName,"- Price:",productPrice)

**Exercise E6.1.**

In [ ]:
elonAge = 51
bezosAge = input("Enter age: ")
bezosAgeModified = int(bezosAge)