**Counters with lists**

In [ ]:
ages = [34, 50, 28, 20, 44]

counterOver30 = 0
i = 0
while(i < len(ages)):
  if(ages[i] > 30):
    counterOver30 = counterOver30+1
  i = i+1

print("Total over 30: "+str(counterOver30))

**Counters with lists containing dictionaries**

In [ ]:
city1 = {"name":"Envigado", "population":249800}
city2 = {"name":"Sabaneta", "population":87981}
city3 = {"name":"Rionegro", "population":147484}

cities = [city1, city2, city3]
counter = 0

for city in cities:
  if(city["population"] > 90000):
    counter = counter+1

print("Population over 90000: " + str(counter))

**Accumulators with lists**

In [ ]:
salaries = [3000, 1500, 800]

salaryAccumulator = 0
i = 0
while(i < len(salaries)):
  salaryAccumulator = salaryAccumulator + salaries[i]
  i = i+1

print("Total salary sum: "+str(salaryAccumulator))

**Accumulators with lists containing dictionaries**

In [ ]:
city1 = {"name":"Envigado", "population":249800}
city2 = {"name":"Sabaneta", "population":87981}
city3 = {"name":"Rionegro", "population":147484}

cities = [city1, city2, city3]
accumulator = 0

for city in cities:
  accumulator = accumulator + city["population"]

average = accumulator/len(cities)
print("Average population: "+str(average))

**Flags**

In [ ]:
grades = [4.0, 2.0, 1.2, 4.7, 1.7]
highGradeFlag = False

for grade in grades:
  if(grade > 4.5):
    highGradeFlag = True
    break

if(highGradeFlag):
  print("You obtained at least one high grade")
else:
  print("You did not obtain high grades")

**Exercise E15.2.**

In [ ]:
ages = [20, 10, 29]

for age in ages:
  if(age < 15):
    break
  print(age)

**Exercise E15.3.**

In [ ]:
a1 = {"name":"2022 HX1", "distance":1547214}
a2 = {"name":"2022 HA2", "distance":2870734}
a3 = {"name":"101955 Bennu", "distance":20188350}
asteroids = [a1, a2, a3]