**Creating a tuple**

In [ ]:
ages = (28, 67, 40, 15)

In [ ]:
colors = ("Yellow", "Blue", "Red")
print(colors)
print(type(colors))

**Accessing elements of a tuple**

In [ ]:
players = ("Cristiano", "Messi", "Díaz", "Mbappé")
print(players[0])
print(players[len(players)-1])

**Invalid operation**

In [ ]:
players = ("Cristiano", "Messi", "Díaz", "Mbappé")
players[0] = "Haaland"

**Creating a set**

In [ ]:
ages = {28, 67, 40, 15}

In [ ]:
planets = {"Earth", "Mars", "Uranus", "Uranus"}
print(planets)
print(type(planets))

**Accessing elements of a set (error)**

In [ ]:
planets = {"Earth", "Mars", "Uranus", "Uranus"}
print(planets[0])

**Accessing elements of a set**

In [ ]:
planets = {"Earth", "Mars", "Uranus"}
for planet in planets:
  print(planet)

**Adding elements to a set**

In [ ]:
planets = {"Earth", "Mars", "Uranus"}
planets.add("Jupiter")
print(planets)

**Removing elements from a set**

In [ ]:
planets = {"Earth", "Mars", "Uranus"}
planets.remove("Earth")
print(planets)