**E5.4.**

In [ ]:
firstName = "Juan"
lastName = "Pinz√≥n"
age = 19
height = 168.2

print(firstName)
print(lastName)
print(age)
print(height)

**E6.4.**

In [ ]:
firstName = input("Enter your first name: ")
lastName = input("Enter your last name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height: "))

print(firstName)
print(type(firstName))
print(lastName)
print(type(lastName))
print(age)
print(type(age))
print(height)
print(type(height))

**E6.5.**

In [ ]:
firstName = input("Enter your first name: ")
lastName = input("Enter your last name: ")
print(lastName+" "+firstName)

**E6.6.**

In [ ]:
estimatedYears = float(input("Enter the number of years: "))
realYears = estimatedYears/2
print("The asteroid will fall in: "+str(realYears)+" years")

**E7.4.**

In [ ]:
distance = float(input("Enter the distance: "))
if(distance <= 4):
  print("I'm coming over")

**E7.5.**

In [ ]:
jerseyNumber = int(input("Enter the jersey number: "))
if(jerseyNumber == 19):
  print("What are you looking at fool? Get back there")

**E7.6.**

In [ ]:
magnitude = float(input("Enter the magnitude of the earthquake: "))
if(magnitude >= 5.2):
  print("Tsunami alert!!")

**E8.4.**

In [ ]:
genre = input("Enter your favorite musical genre: ")
if(genre == "Rock"):
  print("You have good taste")
else:
  print("Disgusting")

**E8.5.**

In [ ]:
name1 = input("Enter the name of the first student: ")
votes1 = int(input("Enter the vote count for first student: "))
name2 = input("Enter the name of the second student: ")
votes2 = int(input("Enter the vote count for second student: "))

if(votes1 > votes2):
  print(name1)
elif(votes2 > votes1):
  print(name2)
else:
  print("Tie")

**E9.4.**

In [ ]:
times = int(input("Enter a number: "))
i = 1
while(i <= times):
  print("****")
  i = i+1

**E9.5.**

In [ ]:
while(True):
  keyword = input("Enter the keyword: ")
  if(keyword == "Robert"):
    print("Correct keyword")
    break
  else:
    print("Incorrect keyword")

**E10.4.**

In [ ]:
text = input("Enter a text: ")
firstChar = text[0]
lastChar = text[len(text)-1]
print(firstChar+lastChar)

**E10.5.**

In [ ]:
text = input("Enter your text: ")
indexZ = text.find("z")
if(indexZ == -1):
  print("Text does not contain letter z")
else:
  print("Text contains letter z")

**E10.6.**

In [ ]:
word = input("Enter your word: ")
i = 0
while(i < len(word)):
  if(word[i] != "a" and word[i] != "e" and word[i] != "i" and word[i] != "o" and word[i] != "u"):
    print(word[i])
  i = i+1

**E11.4.**

In [ ]:
movies = []
i = 1
while(i <= 4):
  movie = input("Enter the name of your favorite movie: ")
  movies.append(movie)
  i = i+1

print(movies)

**E11.5.**

In [ ]:
secretMessage = ["Planet", "You", "Secret", "Are", "Zombie", "The", "Nuclear", "Alien"]

i = 1
while(i < len(secretMessage)):
  print(secretMessage[i])
  i = i+2

**E12.4.**

In [ ]:
name = input("Enter the name of the pet: ")
age = int(input("Enter the age of the pet: "))
gender = input("Enter the gender of the pet: ")

pet = {
  "name":name,
  "age":age,
  "gender":gender
}

print(pet)

**E12.5.**

In [ ]:
numTeams = int(input("Enter the number of teams: "))
teams = []

i = 1
while(i <= numTeams):
  name = input("Enter the name of the team: ")
  country = input("Enter the country of the team: ")
  team = {"name":name, "country":country}
  teams.append(team)
  i = i+1

print(teams)

**E13.4.i.**

In [ ]:
for number in range(1,81):
  print(number)

**E13.4.ii.**

In [ ]:
for number in range(1000,-1,-100):
  print(number)

**E13.4.iii.**

In [ ]:
for number in range(2,67,2):
  print(number)

**E13.5.**

In [ ]:
names = []
for number in range(4):
  name = input("Enter name: ")
  names.append(name)

for name in names:
  if(name[0] == "L"):
    print("Name discarded")
  else:
    print("Possible name")

**E14.4.**

In [ ]:
def printFirstName(names):
  print(names[0])

names = ["Zeus", "Poseidon", "Ares"]
printFirstName(names)

**E14.5.**

In [ ]:
def add():
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))
  result = num1+num2
  print("The result is: "+str(result))

def subtract():
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))
  result = num1-num2
  print("The result is: "+str(result))

def multiply():
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))
  result = num1*num2
  print("The result is: "+str(result))

def divide():
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))
  if(num2 == 0):
    print("Invalid divisor")
  else:
    result = num1/num2
    print("The result is: "+str(result))

def square():
  num1 = float(input("Enter the number: "))
  result = num1*num1
  print("The result is: "+str(result))

while(True):
  print("----Enter the operation----")
  print("1) Add")
  print("2) Subtract")
  print("3) Multiply")
  print("4) Divide")
  print("5) Square")
  print("0) Exit")
  operation = int(input())
  if(operation == 1):
    add()
  elif(operation == 2):
    subtract()
  elif(operation == 3):
    multiply()
  elif(operation == 4):
    divide()
  elif(operation == 5):
    square()
  elif (operation == 0):
    print("Bye =)")
    break

**E15.3.**

In [ ]:
a1 = {"name":"2022 HX1", "distance":1547214}
a2 = {"name":"2022 HA2", "distance":2870734}
a3 = {"name":"101955 Bennu", "distance":20188350}
asteroids = [a1, a2, a3]

collisionCount = 0
for asteroid in asteroids:
  if(asteroid["distance"] < 4660283):
    collisionCount = collisionCount+1

print("Asteroids with high collision probability:"+str(collisionCount))

**E15.4.**

In [ ]:
a1 = {"name":"2022 HX1", "distance":1547214}
a2 = {"name":"2022 HA2", "distance":2870734}
a3 = {"name":"101955 Bennu", "distance":20188350}
asteroids = [a1, a2, a3]

accumulator = 0
for asteroid in asteroids:
  accumulator = accumulator+asteroid["distance"]

averageDistance = accumulator/len(asteroids)
print("Average distance: "+str(averageDistance))

**E16.3.i.**

In [ ]:
file = open("songs.csv")
content = file.readlines()

i = 1
while(i < len(content)):
  line = content[i].strip()
  songData = line.split(",")
  if(int(songData[4]) == 2000):
    print(songData[1])
  i = i+1

**E16.3.ii.**

In [ ]:
file = open("songs.csv")
content = file.readlines()

i = 1
while(i < len(content)):
  line = content[i].strip()
  songData = line.split(",")
  if(songData[0] == "Eminem"):
    print(songData[1])
  i = i+1

**E16.3.iii.**

In [ ]:
file = open("songs.csv")
content = file.readlines()

i = 1
while(i < len(content)):
  line = content[i].strip()
  songData = line.split(",")
  if(songData[1][0] == "D"):
    print(songData[1])
  i = i+1

**E16.3.iv.**

In [ ]:
file = open("songs.csv")
content = file.readlines()

counter = 0
i = 1
while(i < len(content)):
  line = content[i].strip()
  songData = line.split(",")
  if(int(songData[2]) > 400000):
    counter = counter+1
  i = i+1

print(counter)

**E16.3.v.**

In [ ]:
file = open("songs.csv")
content = file.readlines()

accumulator = 0
i = 1
while(i < len(content)):
  line = content[i].strip()
  songData = line.split(",")
  accumulator = accumulator+int(songData[5])
  i = i+1

average = accumulator/(len(content)-1) # minus one because the columns header
print(average)

**E17.4.**

In [ ]:
import matplotlib.pyplot as plt

x = [2046, 2047, 2048, 2049, 2050]
y = [0, 1, 8, 14, 2]

plt.bar(x, y)
plt.xlabel("Year")
plt.ylabel("Millions of Zombies")
plt.show()