**Programming our first for loop**

In [ ]:
ages = [25, 7, 39]

for age in ages:
  print(age)

print("End of program")

**For loop with strings**

In [ ]:
message = "Hi SpaceX"

for character in message:
  print(character)

**For loop with dictionaries**

In [ ]:
cyclist = {"firstName":"Egan", "lastName":"Bernal", "team":"Ineos"}

for key in cyclist:
  print(key+": "+cyclist[key])

**For loop with lists containing dictionaries**

In [ ]:
nightclub1 = {"name":"Perro negro", "location":"Poblado"}
nightclub2 = {"name":"Teatro victoria", "location":"Poblado"}

nightclubs = [nightclub1, nightclub2]

for nightclub in nightclubs:
  print(nightclub["name"]+" - "+nightclub["location"])

**The range function**

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
  print(number)

**Range function with a single argument**

In [ ]:
for number in range(6):
  print(number)

**Range function with multiple arguments**

In [ ]:
for number in range(1, 7, 2):
  print(number)

**Exercise E13.1.**

In [ ]:
stop = int(input())
for number in range(stop):
  print("Rocks")

**Exercise E13.3.**

In [ ]:
groceryList  = ["Bread", "Eggs", "Milk"]
for item in groceryList:
  print(item)