**Creation of a variable**

In [ ]:
age = 21

**Types of variables**

In [ ]:
name = "Maria"
age = 21
height = 164.1

**Printing variables**

In [ ]:
name = "Maria"
age = 21
height = 164.1

print(name)
print(age)
print(height)

**Error in printing**

In [ ]:
age = 21
print(agee)

**Modifying the value of a variable**

In [ ]:
productPrice = 150
print(productPrice)
productPrice = 250
print(productPrice)

**Modifying the value and type of a variable**

In [ ]:
productPrice = 150
print(productPrice)
productPrice = 250.5
print(productPrice)

**Reusing variables to define new variables**

In [ ]:
luisAge = 10
lauraAge = 20
sum = luisAge + lauraAge
average = sum/2
print(average)

**The type function**

In [ ]:
productPrice = 150
print(type(productPrice))
productPrice = 250.5
print(type(productPrice))

**Comments in Python**

In [ ]:
# The following line represents the monthly salary of a person
salary = 5000

""" We will divide the salary by 2 to distribute it among the family
members and print the result to the screen """
print(salary/2)

**Exercise E5.1.**

In [ ]:
totalToPay = 1450.7
productName = "iPhone 14"
satellites = 7
engines = "4"

**Exercise E5.3.**

In [ ]:
cat age = 7
my_email = "test@gmail.com"
duplicatedEmail = my_email